<!DOCTYPE html>
<html>
  <head>

    <style>body {
    background-image: url('https://www.applepiecapital.com/assets/static/apple-path.jpg');
    background-size: cover;
    font-family: Helvetica;
    font-size: 25px;
    text-rendering: optimizeLegibility;


}</style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

      <link rel="icon" type="image/x-icon" href="https://www.applepiecapital.com/assets/favicon-563329767246515cb81ae9ced2c7567d7c15dffb209931acb8bdc9e37c13a36c.ico">

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"

  >
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" id="home" href="/ratecard">Home</a>
          <a class="nav-item nav-link" id="fees" href="/fees">Fees</a>
          <a class="nav-item nav-link" id="doc_generator" href="/DocGenerator">Document Generator</a>
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        {% else %}
          <a class="nav-item nav-link" id="login" href="/">Login</a>
          <a class="nav-item nav-link" id="first_time_user" href="/password_reset">First Time User</a>
          <a class="nav-item nav-link" id="password_reset" href="/password_reset">Password Reset</a>

        {% endif %}
      </div>
      <!-- Add the logo image here -->
      <img src="https://www.applepiecapital.com/assets/shared/apc-logo-d281517331a17f3360d6967377e11a0c46b684fcb4ee343b9fc3eb595d2dfcc1.png" alt="Logo" class="navbar-brand">
    </div>
</nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>


  </body>
</html>