{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}
<style>
  .button-container {
    display: flex;
    justify-content: space-between;
  }

  .button-container .right-buttons {
    display: flex;
  }

  .button-container .right-buttons button {
    margin-right: 10px;
  }
</style>

<form method="POST">
  <h3 align="center">Login</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>

<div class="button-container">
  <button type="submit" class="btn btn-primary">Login</button>
  <div class="right-buttons">
    <button type="button" class="btn btn-primary" id="passwordReset">Password Reset</button>
    <button type="button" class="btn btn-primary" id="firstTimeUser">First Time User</button>
  </div>
</div>

<script>
  const passwordResetButton = document.getElementById('passwordReset');
  passwordResetButton.addEventListener('click', () => {
    window.location.href = '/password_reset'; //
  });
</script>
  <script>
  const NewUserButton = document.getElementById('firstTimeUser');
  NewUserButton.addEventListener('click', () => {
    window.location.href = '/password_reset'; //
  });
</script>


</form>
{% endblock %}