{% extends "base.html" %} {% block title %}PreQual Pricing Model{% endblock %} {% block content%}
<!DOCTYPE html>
<head>
    <style>
        .modern-heading {
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 48px;
            color: #7dbb5a;
            letter-spacing: 2px;
            text-transform: uppercase;
            border-bottom: 2px solid #7dbb5a;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
.form-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.form-container .form-inputs {
  flex: 0 0 calc(50% - 5px);
  margin-right: 20px;
  background-color: rgba(200, 200, 200, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.form-container .form-results {
  flex: 0 0 calc(50% - 20px);
  background-color: rgba(200, 200, 200, 0.8);
  padding: 20px;
  border-radius: 10px;
}



    .footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background-color: #f5f5f5;
    }
    </style>
</head>


<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">


<body>
  <h1 class="modern-heading">Pricing Model</h1>

  <div class="form-container">
    <div class="form-inputs">
      <form method="POST">


<label>Product Request</label>

<select name="product" id="product">
    <option value="Make Selection"{% if previous_data.product == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="New Unit"{% if previous_data.product == 'New Unit' %}selected{% endif %}>New Unit</option>
    <option value="Recap"{% if previous_data.product == 'Recap' %}selected{% endif %}>Recap</option>
    <option value="Purchase"{% if previous_data.product == 'Purchase' %}selected{% endif %}>Purchase</option>
</select>
<br>
<label>Proposal or Commitment</label>
<select name="plOrCl" id="plOrCl">
    <option value="Make Selection"{% if previous_data.plOrCl == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="Proposal"{% if previous_data.plOrCl == 'Proposal' %}selected{% endif %}>Proposal</option>
    <option value="Commitment"{% if previous_data.plOrCl == 'Commitment' %}selected{% endif %}>Commitment</option>
</select>




<div id="new_unit_labels" style="display: none;">

<label>Corporate Guarantor Included</label>
<input type="checkbox" name="corpGuarantor" {% if previous_data.corpGuarantor %}checked{% endif %}>
<br>
<label>Terms</label>
<select name="newterms">
    <option value="Make Selection"{% if previous_data.newterms == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="60" {% if previous_data.newterms == '60' %}selected{% endif %}>60</option>
    <option value="84" {% if previous_data.newterms == '84' %}selected{% endif %}>84</option>
    <option value="120" {% if previous_data.newterms == '120' %}selected{% endif %}>120</option>
</select>
<br>
<label>Amortization</label>
<select name="newamortTerms">
    <option value="Make Selection"{% if previous_data.newamortTerms == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="60" {% if previous_data.newamortTerms == '60' %}selected{% endif %}>60</option>
    <option value="84" {% if previous_data.newamortTerms == '84' %}selected{% endif %}>84</option>
    <option value="120" {% if previous_data.newamortTerms == '120' %}selected{% endif %}>120</option>
</select>
<br>
<label>Loan Amount($)</label>
<input type="number" name="newloanAmount" pattern="^\d+(\.\d{2})?$" placeholder="$0" value="{{ previous_data.newloanAmount }}">
<br>
<label>Grace Period</label>
<input type="number" name="newgracePeriod" pattern="^\d+(\.\d{2})?$" placeholder="" value="{{ previous_data.newgracePeriod }}">
<br>
<label>Borrower Experience</label>
<select name="newborrowerExperience">
    <option value="Make Selection" {% if previous_data.newborrowerExperience == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="New/New" {% if previous_data.newborrowerExperience == 'New/New' %}selected{% endif %}>New/New</option>
    <option value="New/Experienced/General" {% if previous_data.newborrowerExperience == 'New/Experienced/General' %}selected{% endif %}>New/Experienced - General biz/other brands</option>
    <option value="New/Experienced/Single" {% if previous_data.newborrowerExperience == 'New/Experienced/Single' %}selected{% endif %}>New/Experienced - Single unit this brand</option>
    <option value="New/Experienced/Multi" {% if previous_data.newborrowerExperience == 'New/Experienced/Multi' %}selected{% endif %}>New/Experienced - Multi units this brand</option>
</select>
<br>
<label>Down Payment Percent(%)</label>
<input type="text" name="newdownPaymentPercent" pattern="^\d{1,3}(\.\d{2})?$" maxlength="3" placeholder="0" value="{{ previous_data.newdownPaymentPercent }}">
<br>
<label>Brand Category</label>
<select name="newbrandCategory">
    <option value="Make Selection"{% if previous_data.newbrandCategory == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="Category 1" {% if previous_data.newbrandCategory == 'Category 1' %}selected{% endif %}>Category 1</option>
    <option value="Category 2" {% if previous_data.newbrandCategory == 'Category 2' %}selected{% endif %}>Category 2</option>
    <option value="Category 3" {% if previous_data.newbrandCategory == 'Category 3' %}selected{% endif %}>Category 3</option>
</select>
<br>
<label>GDSCR</label>
<input type="text" name="newgdscr" pattern="^\d{1,3}(\.\d{2})?$" maxlength="7" placeholder="000" value="{{ previous_data.newgdscr }}">
<br>
<label>Operator Experience</label>
<select name="newoperatorExperience">
    <option value="Make Selection"{% if previous_data.newoperatorExperience == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="New/New" {% if previous_data.newoperatorExperience == 'New/New' %}selected{% endif %}>New/New</option>
    <option value="New/Experienced - General biz/other brands" {% if previous_data.newoperatorExperience == 'New/Experienced - General biz/other brands' %}selected{% endif %}>New/Experienced - General biz/other brands</option>
    <option value="New/Experienced - Single unit this brand" {% if previous_data.newoperatorExperience == 'New/Experienced - Single unit this brand' %}selected{% endif %}>New/Experienced - Single unit this brand</option>
</select>
<br>
<label>FICO</label>
<input type="text" name="newfico" pattern="\d{3}" placeholder="000" maxlength="3" value="{{ previous_data.newfico }}">
<br>
<label>PCR</label>
<input type="text" name="newpcr" pattern="^\d{1,3}(\.\d{2})?$" maxlength="7" placeholder="000" value="{{ previous_data.newpcr }}">

</div>



<div id="recap_labels" style="display: none;">

<label>Terms</label>
<select name="recapterms">
    <option value="Make Selection"{% if previous_data.recapterms == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="60" {% if previous_data.recapterms == '60' %}selected{% endif %}>60</option>
    <option value="84" {% if previous_data.recapterms == '84' %}selected{% endif %}>84</option>
    <option value="120" {% if previous_data.recapterms == '120' %}selected{% endif %}>120</option>
</select>
<br>
<label>Amortization</label>
<select name="recapamortTerms">
    <option value="Make Selection" {% if previous_data.recapamortTerms == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="60" {% if previous_data.recapamortTerms== '60' %}selected{% endif %}>60</option>
    <option value="84" {% if previous_data.recapamortTerms == '84' %}selected{% endif %}>84</option>
    <option value="120" {% if previous_data.recapamortTerms == '120' %}selected{% endif %}>120</option>
</select>
<br>
<label>Loan Amount($)</label>
<input type="number" name="recaploanAmount" pattern="^\d+(\.\d{2})?$" placeholder="$0" value="{{ previous_data.recaploanAmount }}">
<br>
 <label>Brand Category</label>
<select name="recapbrandCategory">
    <option value="Make Selection" {% if previous_data.recapbrandCategory == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="Category 1" {% if previous_data.recapbrandCategory == 'Category 1' %}selected{% endif %}>Category 1</option>
    <option value="Category 2" {% if previous_data.recapbrandCategory == 'Category 2' %}selected{% endif %}>Category 2</option>
    <option value="Category 3" {% if previous_data.recapbrandCategory == 'Category 3' %}selected{% endif %}>Category 3</option>
</select>
<br>
<label>FICO</label>
<input type="text" name="recapfico" pattern="\d{3}" placeholder="000" maxlength="3" value="{{ previous_data.recapfico }}">
<br>
<label>PCR</label>
<input type="text" name="recappcr" pattern="^\d{1,3}(\.\d{2})?$" maxlength="7" placeholder="000" value="{{ previous_data.recappcr }}">
<br>
<label>Use of Funds</label>
<select name="recapuseOfFunds">
    <option value="Make Selection" {% if previous_data.recapuseOfFunds == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="Cash Out (Cash, WC, small loans > 25% of loan amount)" {% if previous_data.recapuseOfFunds == 'Cash Out (Cash, WC, small loans > 25% of loan amount)' %}selected{% endif %}>Cash Out (Cash, WC, small loans > 25% of loan amount)</option>
    <option value="Cash Out (Cash, WC, small loans < 25% of loan amount)" {% if previous_data.recapuseOfFunds == 'Cash Out (Cash, WC, small loans < 25% of loan amount)' %}selected{% endif %}>Cash Out (Cash, WC, small loans < 25% of loan amount)</option>
    <option value="Refinance to free up assets" {% if previous_data.recapuseOfFunds == 'Refinance to free up assets' %}selected{% endif %}>Refinance to free up assets</option>
    <option value="Recap to fund additional unit/growth" {% if previous_data.recapuseOfFunds == 'Recap to fund additional unit/growth' %}selected{% endif %}>Recap to fund additional unit/growth</option>
    <option value="Debt consolidation" {% if previous_data.recapuseOfFunds == 'Debt consolidation' %}selected{% endif %}>Debt consolidation</option>
    <option value="Refi to cheaper rate (not from high-risk lending)" {% if previous_data.recapuseOfFunds == 'Refi to cheaper rate (not from high-risk lending)' %}selected{% endif %}>Refi to cheaper rate (not from high-risk lending)</option>
    <option value="Remodel or relocation" {% if previous_data.recapuseOfFunds == 'Remodel or relocation' %}selected{% endif %}>Remodel or relocation</option>
</select>
<br>
<label>Months Since Breakeven</label>
<input type="number" name="recapmonthsSinceBreakeven" pattern="^\d+(\.\d{2})?$" placeholder="0" value="{{ previous_data.recapmonthsSinceBreakeven }}">
<br>
<label>Franchisor Experience</label>
<select name="recapfranchisorExperience">
    <option value="Make Selection" {% if previous_data.recapfranchisorExperience == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="1 unit/<2 years franchising" {% if previous_data.recapfranchisorExperience == '1 unit/<2 years franchising' %}selected{% endif %}>1 unit/<2 years franchising</option>
    <option value="1 unit/2 years franchising" {% if previous_data.recapfranchisorExperience == '1 unit/2 years franchising' %}selected{% endif %}>1 unit/2 years franchising</option>
    <option value="1 unit/3 years franchising" {% if previous_data.recapfranchisorExperience == '1 unit/3 years franchising' %}selected{% endif %}>1 unit/3 years franchising</option>
    <option value="1 unit/5 years franchising" {% if previous_data.recapfranchisorExperience == '1 unit/5 years franchising' %}selected{% endif %}>1 unit/5 years franchising</option>
    <option value="2 units/3 years franchising" {% if previous_data.recapfranchisorExperience == '2 units/3 years franchising' %}selected{% endif %}>2 units/3 years franchising</option>
    <option value="3 units/3 years franchising" {% if previous_data.recapfranchisorExperience == '3 units/3 years franchising' %}selected{% endif %}>3 units/3 years franchising</option>
    <option value="5 units/5 years franchising" {% if previous_data.recapfranchisorExperience == '5 units/5 years franchising' %}selected{% endif %}>5 units/5 years franchising</option>
    <option value="Previous Successful Loan w/APC" {% if previous_data.recapfranchisorExperience == 'Previous Successful Loan w/APC' %}selected{% endif %}>Previous Successful Loan w/APC</option>
</select>

<br>
<label>FCCR</label>
<input type="text" name="recapfccr" pattern="^\d{1,3}(\.\d{2})?$" maxlength="7" placeholder="000" value="{{ previous_data.recapfccr }}">
<br>

<label>FCCR Basis</label>
<select name="recapfccrBasis">
    <option value="Make Selection" {% if previous_data.recapfccrBasis == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="Based on Tax Returns" {% if previous_data.recapfccrBasis == 'Based on Tax Returns' %}selected{% endif %}>Based on Tax Returns</option>
    <option value="Based on Other" {% if previous_data.recapfccrBasis == 'Based on Other' %}selected{% endif %}>Based on Other</option>
</select>
 <br>
<label>Intelliscore</label>
<select name="recapintelliscore">
    <option value="Make Selection" {% if previous_data.recapintelliscore == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="High Risk" {% if previous_data.recapintelliscore == 'High Risk' %}selected{% endif %}>High Risk</option>
    <option value="High/Med Risk" {% if previous_data.recapintelliscore == 'High/Med Risk' %}selected{% endif %}>High/Med Risk</option>
    <option value="Med Risk" {% if previous_data.recapintelliscore == 'Med Risk' %}selected{% endif %}>Med Risk</option>
    <option value="Low/Med Risk" {% if previous_data.recapintelliscore == 'Low/Med Risk' %}selected{% endif %}>Low/Med Risk</option>
    <option value="Low Risk" {% if previous_data.recapintelliscore == 'Low Risk' %}selected{% endif %}>Low Risk</option>
    <option value="No Score" {% if previous_data.recapintelliscore == 'No Score' %}selected{% endif %}>No Score</option>
</select>
</div>




<div id="purchase_labels" style="display: none;">
    <label>Term</label>
   <select name="purchaseterms">
    <option value="Make Selection" {% if previous_data.purchaseterms == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="60" {% if previous_data.purchaseterms == '60' %}selected{% endif %}>60</option>
    <option value="84" {% if previous_data.purchaseterms == '84' %}selected{% endif %}>84</option>
    <option value="120" {% if previous_data.purchaseterms == '120' %}selected{% endif %}>120</option>
</select>
<br>
<label>Amortization</label>
<select name="purchaseamortTerms">
    <option value="Make Selection" {% if previous_data.purchaseamortTerms == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="60" {% if previous_data.purchaseamortTerms == '60' %}selected{% endif %}>60</option>
    <option value="84" {% if previous_data.purchaseamortTerms == '84' %}selected{% endif %}>84</option>
    <option value="120" {% if previous_data.purchaseamortTerms == '120' %}selected{% endif %}>120</option>
</select>
    <br>
  <label>Loan Amount($)</label>
<input type="number" name="purchaseloanAmount" pattern="^\d+(\.\d{2})?$" placeholder="$0" value="{{ previous_data.purchaseloanAmount }}">
    <br>
<label>Borrower Experience</label>
<select name="purchaseborrowerExperience">
    <option value="Make Selection" {% if previous_data.purchaseborrowerExperience == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="New/New" {% if previous_data.purchaseborrowerExperience == 'New/New' %}selected{% endif %}>New/New</option>
    <option value="New/Experienced - General biz/other brands" {% if previous_data.purchaseborrowerExperience == 'New/Experienced - General biz/other brands' %}selected{% endif %}>New/Experienced - General biz/other brands</option>
    <option value="New/Experienced - Single unit this brand" {% if previous_data.purchaseborrowerExperience == 'New/Experienced - Single unit this brand' %}selected{% endif %}>New/Experienced - Single unit this brand</option>
    <option value="New/Experienced - Multi units this brand" {% if previous_data.purchaseborrowerExperience == 'New/Experienced - Multi units this brand' %}selected{% endif %}>New/Experienced - Multi units this brand</option>
</select>
    <br>
    <label>Down Payment Percent(%)</label>
<input type="text" name="purchasedownPaymentPercent" pattern="^\d{1,3}(\.\d{2})?$" maxlength="3" placeholder="0" value="{{ previous_data.purchasedownPaymentPercent }}">
<br>
    <label>Brand Category</label>
<select name="purchasebrandCategory">
    <option value="Make Selection" {% if previous_data.purchasebrandCategory == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="Category 1" {% if previous_data.purchasebrandCategory == 'Category 1' %}selected{% endif %}>Category 1</option>
    <option value="Category 2" {% if previous_data.purchasebrandCategory == 'Category 2' %}selected{% endif %}>Category 2</option>
    <option value="Category 3" {% if previous_data.purchasebrandCategory == 'Category 3' %}selected{% endif %}>Category 3</option>
</select>
    <br>
<label>Operator Experience</label>
<select name="purchaseoperatorExperience">
    <option value="Make Selection" {% if previous_data.purchaseoperatorExperience == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="New/New" {% if previous_data.purchaseoperatorExperience == 'New/New' %}selected{% endif %}>New/New</option>
    <option value="New/Experienced - General biz/other brands" {% if previous_data.purchaseoperatorExperience == 'New/Experienced - General biz/other brands' %}selected{% endif %}>New/Experienced - General biz/other brands</option>
    <option value="New/Experienced - Single unit this brand" {% if previous_data.purchaseoperatorExperience == 'New/Experienced - Single unit this brand' %}selected{% endif %}>New/Experienced - Single unit this brand</option>
</select>
    <br>
<label>FICO</label>
<input type="text" name="purchasefico" pattern="\d{3}" placeholder="000" maxlength="3" value="{{ previous_data.purchasefico }}">
<br>
<label>PCR</label>
<input type="text" name="purchasepcr" pattern="^\d{1,3}(\.\d{2})?$" maxlength="7" placeholder="000" value="{{ previous_data.purchasepcr }}">
<br>
    <label>Months Since Breakeven</label>
<input type="number" name="purchasemonthsSinceBreakeven" pattern="^\d+(\.\d{2})?$" placeholder="0" value="{{ previous_data.purchasemonthsSinceBreakeven }}">
    <br>
<label>FCCR</label>
<input type="text" name="purchasefccr" pattern="^\d{1,3}(\.\d{2})?$" maxlength="7" placeholder="000" value="{{ previous_data.purchasefccr }}">
<br>

    <label>FCCR Basis</label>
    <select name="purchasefccrBasis">
        <option value="Make Selection" {% if previous_data.purchasefccrBasis == 'Make Selection' %}selected{% endif %}>Make Selection</option>
        <option value="Based on Tax Returns" {% if previous_data.purchasefccrBasis == 'Based on Tax Returns' %}selected{% endif %}>Based on Tax Returns</option>
        <option value="Based on Other" {% if previous_data.purchasefccrBasis == 'Based on Other' %}selected{% endif %}>Based on Other</option>
    </select>

    <br>
    <label>Intelliscore</label>
    <select name="purchaseintelliscore">
        <option value="Make Selection" {% if previous_data.purchaseintelliscore == 'Make Selection' %}selected{% endif %}>Make Selection</option>
        <option value="High Risk" {% if previous_data.purchaseintelliscore == 'High Risk' %}selected{% endif %}>High Risk</option>
        <option value="High/Med Risk" {% if previous_data.purchaseintelliscore == 'High/Med Risk' %}selected{% endif %}>High/Med Risk</option>
        <option value="Med Risk" {% if previous_data.purchaseintelliscore == 'Med Risk' %}selected{% endif %}>Med Risk</option>
        <option value="Low/Med Risk" {% if previous_data.purchaseintelliscore == 'Low/Med Risk' %}selected{% endif %}>Low/Med Risk</option>
        <option value="Low Risk" {% if previous_data.purchaseintelliscore == 'Low Risk' %}selected{% endif %}>Low Risk</option>
        <option value="No Score" {% if previous_data.purchaseintelliscore == 'No Score' %}selected{% endif %}>No Score</option>
    </select>
</div>



<div id="commitment_labels" style="display: none;">
    <label>Number of AOWs</label>
<select name="nbrOfAows" id="nbrOfAows">
    <option value="Make Selection" {% if previous_data.nbrOfAows == 'Make Selection' %}selected{% endif %}>Make Selection</option>
    <option value="1" {% if previous_data.nbrOfAows == '1' %}selected{% endif %}>1</option>
    <option value="2" {% if previous_data.nbrOfAows == '2' %}selected{% endif %}>2</option>
    <option value="3" {% if previous_data.nbrOfAows == '3' %}selected{% endif %}>3</option>
    <option value="4" {% if previous_data.nbrOfAows == '4' %}selected{% endif %}>4</option>
    <option value="5" {% if previous_data.nbrOfAows == '5' %}selected{% endif %}>5</option>
    <option value="6" {% if previous_data.nbrOfAows == '6' %}selected{% endif %}>6</option>
    <option value="7" {% if previous_data.nbrOfAows == '7' %}selected{% endif %}>7</option>
    <option value="8" {% if previous_data.nbrOfAows == '8' %}selected{% endif %}>8</option>
    <option value="9" {% if previous_data.nbrOfAows == '9' %}selected{% endif %}>9</option>
    <option value="10" {% if previous_data.nbrOfAows == '10' %}selected{% endif %}>10+</option>
</select>
<br>
<label>Equipment Guarantee($)</label>
<input type="number" name="equipmentGuarantee" pattern="^\d+(\.\d{2})?$" placeholder="$0" value="{{ previous_data.equipmentGuarantee }}">
<br>
<label>Guarantee($)</label>
<input type="number" name="guarantee" pattern="^\d+(\.\d{2})?$" placeholder="$0" value="{{ previous_data.guarantee }}">
<br>
</div>


        <br>

<input type="submit" class="btn btn-primary" name='Calculate' value="Calculate" onclick="submittest()" style="font-size: 20px;">
<input type="submit" class="btn btn-primary" name='clear' value="Clear" style="font-size: 20px;">

      </form>


    </div>


    <div class="form-results">
      <h2>Results</h2>
<div id="new_unit_results" style="display: none;">
      <label>Investment Grade: {{ results.investmentGrade }}</label>
    <br>
        <br>
    <br>
    <br>
    <br>
    <br>
    <label>Final Failure Rate: {{ results.finalFailureRate }}</label>
    <br>
    <label>Cumulative Net Loss Rate: {{ results.cumulativeNetLossRate }}</label>
    <br>
    <label>Annual Net Loss Rate: {{ results.annualNetLossRate }}</label>
</div>

<div id="recap_results" style="display: none;">
    <label>Investment Grade: {{ results.investmentGrade }}</label>
    <br>
        <br>
    <br>
    <br>
    <br>
    <br>
    <label>Final Failure Rate: {{ results.finalFailureRate }}</label>
    <br>
    <label>Cumulative Net Loss Rate: {{ results.cumulativeNetLossRate }}</label>
    <br>
    <label>Annual Net Loss Rate: {{ results.annualNetLossRate }}</label>
  </div>

<div id="purchase_results" style="display: none;">
       <label>Investment Grade: {{ results.investmentGrade }}</label>
    <br>
    <br>
    <br>
    <br>
    <br>

    <label>Final Failure Rate: {{ results.finalFailureRate }}</label>
    <br>
    <label>Cumulative Net Loss Rate: {{ results.cumulativeNetLossRate }}</label>
    <br>
    <label>Annual Net Loss Rate: {{ results.annualNetLossRate }}</label>
</div>

    </div>


<script>
var productElement = document.getElementById("product");
var plClElement = document.getElementById("plOrCl");
var NewUnitLabels = document.getElementById("new_unit_labels");
var RecapLabels = document.getElementById("recap_labels");
var PurchaseLabels = document.getElementById("purchase_labels");
var CommitmentLabels = document.getElementById("commitment_labels");
var NewUnitResults = document.getElementById("new_unit_results");
var RecapResults = document.getElementById("recap_results");
var PurchaseResults = document.getElementById("purchase_results");

productElement.addEventListener("change", updateLabelsVisibility);
plClElement.addEventListener("change", updateLabelsVisibility);


function updateLabelsVisibility() {
    NewUnitLabels.style.display = "none";
    RecapLabels.style.display = "none";
    PurchaseLabels.style.display = "none";
    CommitmentLabels.style.display = "none";
    NewUnitResults.style.display = "none";
    RecapResults.style.display = "none";
    PurchaseResults.style.display = "none";


    var productValue = productElement.value;
    var plClValue = plClElement.value;

    if (productValue === "New Unit" && plClValue === "Proposal") {
        NewUnitLabels.style.display = "block";
        NewUnitResults.style.display = "block";
        CommitmentLabels.style.display = "none";
    } else if (productValue === "Recap" && plClValue === "Proposal") {
        RecapLabels.style.display = "block";
        RecapResults.style.display = "block";
        CommitmentLabels.style.display = "none";
    } else if (productValue === "Purchase" && plClValue === "Proposal") {
        PurchaseLabels.style.display = "block";
        PurchaseResults.style.display = "block";
        CommitmentLabels.style.display = "none";
    } else if (productValue === "New Unit" && plClValue === "Commitment") {
        NewUnitLabels.style.display = "block";
        NewUnitResults.style.display = "block";
        CommitmentLabels.style.display = "block";
    } else if (productValue === "Recap" && plClValue === "Commitment") {
        RecapLabels.style.display = "block";
        RecapResults.style.display = "block";
        CommitmentLabels.style.display = "block";
    } else if (productValue === "Purchase" && plClValue === "Commitment") {
        PurchaseLabels.style.display = "block";
        PurchaseResults.style.display = "block";
        CommitmentLabels.style.display = "block";
    }
}

updateLabelsVisibility();
</script>





    <div class="footer">
        Created and Managed by Tyler Yahnke and Joel Fuentes
        <br>
        &copy; 2023 ApplePie Capital, Version 3.1
    </div>



</body>
</html>

{% endblock %}
